/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@keyframes laluot {
  from {
    -webkit-mask-position: 150% 0px;
    mask-position: 150% 0px;
  }
  100% {
    -webkit-mask-position: 0% 0px;
    mask-position: 0% 0px;
  }
}
@keyframes wiggle {
  0% {
    transform: translate(0%, 0px);
  }
  10% {
    transform: translate(-1.4%, 6px);
  }
  40% {
    transform: translate(-1.2%, -5px);
  }
  50% {
    transform: translate(-1.6%, -6px);
  }
  85% {
    transform: translate(-1.4%, 6px);
  }
  100% {
    transform: translate(0%, 0px);
  }
}
.wiggleef {
  animation-name: wiggle;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes filter {
  0% {
    filter: brightness(100%);
    transform: scale(1);
  }
  50% {
    filter: brightness(130%);
    transform: scale(0.97);
  }
  100% {
    filter: brightness(100%);
    transform: scale(1);
  }
}
.filteref {
  animation: filter 2000ms infinite ease-in-out;
}

.modal .modal-body {
  position: relative;
  padding: 0px;
  overflow: inherit;
}
.modal .modal-body .close {
  position: absolute;
  right: 0px;
  top: -40px;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
  border: none;
  background: transparent;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.857143%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

:root {
  --color1: #21569e;
  --color2: #333333;
  --color3: #808080;
  --colorok: #31da70;
  --colorerror: #ff6d6d;
  --whitecolor: #fff;
  --colorlink: #409ff5;
  --spacing: 30px;
  --colortablehead: #e4e4e4;
  --bs-gutter-x: 1.5rem;
  --ratio:1;
}

.error {
  color: var(--colorerror) !important;
}

.green {
  color: var(--colorok) !important;
}

.gold {
  color: var(--color1) !important;
}

.blue {
  color: var(--colorlink) !important;
}

.main {
  color: var(--color1) !important;
}

body {
  font-family: "Roboto Condensed", Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--color2);
  background-color: #050f31;
}

* {
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

button {
  transition: all 0.3s ease-in-out !important;
}

a:hover {
  text-decoration: none;
}

main {
  position: relative;
}

.container {
  max-width: 768px;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

#layout {
  height: auto;
  transform-origin: top left;
  overflow: hidden;
}

/*----*/
.download {
  background-image: url(../images/Header/Header-BG.jpg);
  z-index: 1051;
}
.download .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.download .container .left {
  display: flex;
  align-items: center;
}
.download .container .left .icongame {
  width: calc(307px * var(--ratio));
}
.download .container .left .title-game {
  color: var(--whitecolor);
}
.download .container .left .title-game h4 {
  font-size: calc(160% * var(--ratio));
}
.download .container .right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.download .container .right a img {
  width: calc(248px * var(--ratio));
}
.download .container .right .btnlist {
  color: var(--whitecolor);
}
.download .container .right .btnlist img {
  width: calc(47px * var(--ratio));
}
.download .container .right .btn-taigame {
  position: relative;
  top: calc(10px * var(--ratio));
}
.download .container .right .btn-taigame img {
  width: calc(248px * var(--ratio));
}

.offcanvas {
  color: var(--whitecolor);
  max-width: 100%;
  background-image: url(../images/offcanvas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-color: #273766;
  top: calc(100px * var(--ratio));
  height: -moz-fit-content;
  height: fit-content;
}
.offcanvas .btn-close {
  filter: invert(1);
}
.offcanvas .offcanvas-body .list-group .list-group-item {
  background: transparent;
  border-color: #050f31;
  border-style: solid;
  border-top-width: 1px;
}
.offcanvas .offcanvas-body .list-group .list-group-item a {
  color: var(--whitecolor);
  font-size: calc(1.4rem * var(--ratio));
}
.offcanvas .offcanvas-body .list-group .list-group-item a:focus {
  color: var(--color1);
}
.offcanvas .offcanvas-body .list-group .list-group-item a i {
  width: 1rem;
  text-align: center;
}

.fixed-top {
  padding-top: calc(0.5rem * var(--ratio));
  padding-bottom: calc(0.5rem * var(--ratio));
  padding-left: calc(1rem * var(--ratio));
  padding-right: calc(1rem * var(--ratio));
}

/*=Header=*/
.header {
  position: relative;
  overflow: hidden;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: calc(113px * var(--ratio)) auto 0;
}
.header .BG {
  max-width: 768px;
  width: 100%;
}
.header .btn-trailer {
  width: 29%;
  height: calc(192px * var(--ratio));
  position: absolute;
  z-index: 3;
  bottom: calc(310px * var(--ratio));
  left: 82.3%;
  transform: translateX(-50%);
}
.header .logo {
  position: absolute;
  top: calc(29px * var(--ratio));
  left: calc(25px * var(--ratio));
}
.header .logo img {
  width: calc(243px * var(--ratio));
}

.page2 {
  position: relative;
  overflow: hidden;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
}
.page2 .BG {
  max-width: 768px;
  width: 100%;
}
.page2 .container {
  height: 100%;
}
.page2 .btn-ahy {
  background: url(../images/page2/Page-2-Btn-AYH-new.png) no-repeat top center;
  background-size: contain;
  width: calc(310px * var(--ratio));
  height: calc(310px * var(--ratio));
  position: absolute;
  top: 60.1%;
  left: 47.4%;
}
.page2 .btn-hs {
  background: url(../images/page2/Page-2-Btn-HSLK-new.png) no-repeat top center;
  background-size: contain;
  width: calc(310px * var(--ratio));
  height: calc(310px * var(--ratio));
  position: absolute;
  top: 34.2%;
  left: 43.1%;
}
.page2 .btn-tkc {
  background: url(../images/page2/page-2-Btn-TKC-new.png) no-repeat top center;
  background-size: contain;
  width: calc(310px * var(--ratio));
  height: calc(310px * var(--ratio));
  position: absolute;
  top: 20.5%;
  left: 14.7%;
}
.page2 .btn-tht {
  background: url(../images/page2/Page-2-Btn-THT-new.png) no-repeat top center;
  background-size: contain;
  width: calc(310px * var(--ratio));
  height: calc(310px * var(--ratio));
  position: absolute;
  top: 53.1%;
  left: 8.2%;
}

.page3 {
  position: relative;
  overflow: hidden;
  max-width: 768px;
  height: calc(850px * var(--ratio));
  background: url(../images/page3/page-3-BG.jpg) no-repeat top center;
  background-size: cover;
  margin: 0 auto;
}
.page3 .menubar {
  display: flex;
  grid-gap: calc(12px * var(--ratio));
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 49.4%;
  left: 0;
}
.page3 .menubar .fanpage {
  margin: calc(11px * var(--ratio)) auto;
}
.page3 .menubar .fanpage img {
  width: calc(167px * var(--ratio));
}
.page3 .menubar .group {
  margin: calc(11px * var(--ratio)) auto;
}
.page3 .menubar .group img {
  width: calc(167px * var(--ratio));
}
.page3 .menubar .trangchu img {
  width: calc(246px * var(--ratio));
}
.page3 .downloadbar {
  display: flex;
  grid-gap: calc(5px * var(--ratio));
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 33.7%;
  left: 0x;
}
.page3 .downloadbar img {
  width: calc(148px * var(--ratio));
}

.modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}
.modal-dialog .modal-content .btn-close {
  position: absolute;
  width: calc(131px * var(--ratio));
  height: calc(188px * var(--ratio));
  z-index: 100;
  right: calc(-55px * var(--ratio));
  top: calc(-7px * var(--ratio));
  opacity: 1;
}
.modal-dialog .modal-content .btn-close img {
  max-width: 100%;
}
.modal-dialog .modal-content .modal-body img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.modal-dksom .modal-dialog {
  max-width: 728px;
  width: calc(728px * var(--ratio));
  height: calc(689px * var(--ratio));
}
.modal-dksom .modal-dialog .modal-content {
  background: url(../images/New/Page-4-Popup-DangKySom.png) no-repeat top center;
  background-size: contain;
  width: calc(728px * var(--ratio));
  height: calc(689px * var(--ratio));
}
.modal-dksom .modal-dialog .modal-content .btn-primary {
  background-color: transparent;
  border: none;
  width: calc(356px * var(--ratio));
  height: calc(130px * var(--ratio));
  box-shadow: none;
}
.modal-dksom .modal-dialog .modal-content .col-submit {
  position: relative;
  top: 8%;
  right: 35%;
}
.modal-dksom .modal-dialog .modal-content .close {
  background: url(../images/New/Page-4-btn-Close.png) no-repeat top center;
  background-size: contain;
  width: calc(56px * var(--ratio));
  height: calc(53px * var(--ratio));
  top: calc(50px * var(--ratio));
  right: calc(60px * var(--ratio));
}
.modal-dksom .modal-dialog .modal-content .container {
  margin: 0;
  padding: 0;
  margin-left: calc(304px * var(--ratio));
  margin-top: calc(199px * var(--ratio));
  width: calc(340px * var(--ratio));
  height: calc(420px * var(--ratio));
}
.modal-dksom .modal-dialog .modal-content .row {
  margin: 0;
  height: calc(60px * var(--ratio));
  margin-bottom: calc(20px * var(--ratio));
}
.modal-dksom .modal-dialog .modal-content .row .col-auto {
  padding: 0;
  width: 100%;
}
.modal-dksom .modal-dialog .modal-content .row input {
  padding: 0;
  margin-top: calc(13px * var(--ratio));
  height: 100%;
  width: 100%;
  font-size: calc(37px * var(--ratio));
  border: none;
  background: transparent;
}
.modal-dksom .modal-dialog .modal-content .row-name {
  padding-left: calc(15px * var(--ratio));
}
.modal-dksom .modal-dialog .modal-content .row-phone {
  margin-left: calc(-70px * var(--ratio));
}
.modal-dksom .modal-dialog .modal-content .row-email {
  margin-left: calc(-52px * var(--ratio));
}

.modal-thele .modal-dialog {
  max-width: 728px;
  width: calc(728px * var(--ratio));
  height: calc(689px * var(--ratio));
}
.modal-thele .modal-dialog .modal-content {
  background: url(../images/New/Page-4-Popup-TheLe.png) no-repeat top center;
  background-size: contain;
  width: calc(728px * var(--ratio));
  height: calc(689px * var(--ratio));
}
.modal-thele .modal-dialog .modal-content .close {
  background: url(../images/New/Page-4-btn-Close.png) no-repeat top center;
  background-size: contain;
  width: calc(56px * var(--ratio));
  height: calc(53px * var(--ratio));
  top: calc(50px * var(--ratio));
  right: calc(60px * var(--ratio));
}

.modal-popup .modal-dialog {
  margin: calc(10% * var(--ratio)) auto;
}
.modal-popup .modal-dialog-centered {
  justify-content: center;
  width: calc(606px * var(--ratio));
  height: calc(847px * var(--ratio));
  max-width: calc(606px * var(--ratio));
  min-height: calc(847px * var(--ratio));
}
.modal-popup .modal-content-ahy {
  background: url(../images/page2/Page-2-Popup-BG-AHY.png) no-repeat center;
  background-size: contain;
  width: calc(606px * var(--ratio));
  height: calc(847px * var(--ratio));
  border: none;
}
.modal-popup .modal-content-ahy .modal-body {
  border: none;
  border-radius: 0;
}
.modal-popup .modal-content-ahy .modal-body a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 7.8%;
}
.modal-popup .modal-content-ahy .modal-body .content-anhhungyen {
  position: relative;
  text-align: center;
  top: calc(156px * var(--ratio));
  overflow: hidden;
  overflow-y: scroll;
  width: calc(450px * var(--ratio));
  height: calc(496px * var(--ratio));
  font-size: calc(24px * var(--ratio));
  margin: auto;
}
.modal-popup .modal-content-ahy .modal-body .content-anhhungyen p {
  text-align: left;
}
.modal-popup .modal-content-hs {
  background: url(../images/page2/Page-2-Popup-BG-HSLK.png) no-repeat center;
  background-size: contain;
  width: calc(606px * var(--ratio));
  height: calc(847px * var(--ratio));
  border: none;
}
.modal-popup .modal-content-hs .modal-body {
  border: none;
  border-radius: 0;
}
.modal-popup .modal-content-hs .modal-body a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 7.8%;
}
.modal-popup .modal-content-hs .modal-body .content-hoasonluankiem {
  position: relative;
  text-align: center;
  top: calc(156px * var(--ratio));
  overflow: hidden;
  overflow-y: scroll;
  width: calc(450px * var(--ratio));
  height: calc(496px * var(--ratio));
  font-size: calc(24px * var(--ratio));
  margin: auto;
}
.modal-popup .modal-content-hs .modal-body .content-hoasonluankiem p {
  text-align: left;
}
.modal-popup .modal-content-tht {
  background: url(../images/page2/Page-2-Popup-BG-THT.png) no-repeat center;
  background-size: contain;
  width: calc(606px * var(--ratio));
  height: calc(847px * var(--ratio));
  border: none;
}
.modal-popup .modal-content-tht .modal-body {
  border: none;
  border-radius: 0;
}
.modal-popup .modal-content-tht .modal-body a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 7.8%;
}
.modal-popup .modal-content-tht .modal-body .content-tuhientrang {
  position: relative;
  text-align: center;
  top: calc(156px * var(--ratio));
  overflow: hidden;
  overflow-y: scroll;
  width: calc(450px * var(--ratio));
  height: calc(496px * var(--ratio));
  font-size: calc(24px * var(--ratio));
  margin: auto;
}
.modal-popup .modal-content-tht .modal-body .content-tuhientrang p {
  text-align: left;
}
.modal-popup .modal-content-tkc {
  background: url(../images/page2/Page-2-Popup-BG-TKC.png) no-repeat center;
  background-size: contain;
  width: calc(606px * var(--ratio));
  height: calc(847px * var(--ratio));
  border: none;
}
.modal-popup .modal-content-tkc .modal-body {
  border: none;
  border-radius: 0;
}
.modal-popup .modal-content-tkc .modal-body a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 7.8%;
}
.modal-popup .modal-content-tkc .modal-body .content-tangkinhcac {
  position: relative;
  text-align: center;
  top: calc(156px * var(--ratio));
  overflow: hidden;
  overflow-y: scroll;
  width: calc(450px * var(--ratio));
  height: calc(496px * var(--ratio));
  font-size: calc(24px * var(--ratio));
  margin: auto;
}
.modal-popup .modal-content-tkc .modal-body .content-tangkinhcac p {
  text-align: left;
}
.modal-popup .btn-close {
  background: url(../images/page2/Page-2-Popup-CloseBtn.png) no-repeat center;
  background-size: contain;
  position: absolute;
  right: -11%;
  top: -8%;
  width: 10vw;
  height: 10vw;
}

/*==FOOTER=*/
@media (max-width: 1024px) {
  /*	footer{position: relative;}*/
}
@media (max-width: 768px) {
  :root {
    --ratio:1;
  }
}
@media (max-width: 540px) {
  :root {
    --ratio:0.703;
  }
}
@media (max-width: 414px) {
  :root {
    --ratio:0.539;
  }
}
@media (max-width: 376px) {
  :root {
    --ratio:0.489;
  }
}
@media (max-width: 320px) {
  :root {
    --ratio:0.416;
  }
}/*# sourceMappingURL=KH-LP-0823-mb.css.map */